{% extends 'base.html.twig' %}
{% block meta_description %}Page à propos du blog réalisé par Julien web&co description du projet
{% endblock %}
{% block title %}À propos
{% endblock %}

{% block body %}
    <main class="py-8">

        <article
                class="container mx-auto px-4">
            <section class="mb-8 text-gray-800 dark:text-gray-100">
                <h1 class="text-center lg:text-2xl md:text-base font-bold mb-10 ">À propos</h1>
                <h2 class="text-center lg:text-xl md:text-base font-bold mb-10">
                    Bienvenue sur mon blog !
                </h2>
                <p>
                    Je suis un développeur freelance passionné par le web et j'ai créé ce blog fictif
                    dans le cadre de mon apprentissage des nouvelles technologies. L'objectif est de m'exercer à la création
                    de sites sécurisés et entièrement personnalisés pour offrir un service de qualité à mes clients.
                </p>
                <br>
                <p>
                    Je suis constamment à la recherche de nouvelles connaissances et compétences pour améliorer mes services.
                    J'investis du temps et des efforts dans l'apprentissage des dernières technologies et tendances
                    du marché afin de rester à la pointe de mon domaine.
                </p>
                <br>
                <p>
                    La sécurité est une préoccupation majeure pour moi. Je m'informe régulièrement des meilleures pratiques
                    en matière de sécurité web et j'applique des mesures rigoureuses pour protéger les données de mes utilisateurs
                    et garantir l'intégrité de mes systèmes. J'utilise des protocoles de sécurité avancés et des technologies
                    de chiffrement robustes pour assurer la confidentialité des informations sensibles.
                </p>
                <br>
                <p>
                    Chaque projet que j'entreprends est traité avec soin et individualité.
                    Je crois fermement que chaque entreprise et chaque client a des besoins uniques,
                    c'est pourquoi je m'efforce de comprendre leurs attentes spécifiques pour créer des sites web
                    qui reflètent leur identité et atteignent leurs objectifs. Mon approche personnalisée me permet
                    de fournir des solutions sur mesure qui répondent aux besoins les plus spécifiques.
                </p>
                <br>
                <p>
                    Je suis ravi de partager mon parcours d'apprentissage avec vous à travers ce blog.
                    J'espère que vous apprécierez mon contenu et que vous trouverez des informations utiles et inspirantes.
                    N'hésitez pas à me contacter pour toute question ou suggestion.
                    Je serai ravi de vous aider et de collaborer avec vous pour concrétiser vos projets en ligne.
                </p>
                <br>
                <p>
                    Merci de votre intérêt pour mon travail et de votre soutien dans cette aventure !
                </p>
                <br>
                <p><strong>Julien web&co</strong></p>
            </section>
        </article>
    </main>
{% endblock %}
