{% extends 'base.html.twig' %}

{% block title %}Inscription réussie{% endblock %}

{% block body %}
    <h2>Inscription réussie</h2>
    <p>Votre inscription a été effectuée avec succès. Vous pouvez maintenant vous connecter.</p>
    <p><a href="{{ path('app_login') }}">Se connecter</a></p>
{% endblock %}