{% extends 'base.html.twig' %}

{% block title %}
	Administration
{% endblock %}

{% block body %}
<main class="mb-48">
<article class="container m-auto ">
	<h1 class="text-center text-2xl mt-4 mb-4">Administration</h1>
	<!-- drawer init and show -->
	<div class="text-center">
		<button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" type="button" data-drawer-target="drawer-navigation" data-drawer-show="drawer-navigation" aria-controls="drawer-navigation">
			Afficher le menu
		</button>
	</div>
	{% include 'partials/_adminNav.html.twig' %}
	<!-- drawer component -->

</article>
</main>


{% endblock %}
