{% extends './admin/index.html.twig' %}

{% block meta_description %}
    Page de modification des categories pour le blog de Julien web&co freelance
{% endblock %}

{% block title %}
    Administration des catégories
{% endblock %}

{% block h1 %}
    Modifier une catégorie
{% endblock %}
{% block content %}
    <section>
        {% include "admin/category/_form.html.twig" with {'button_label':'Modifier'} %}
    </section>
{% endblock %}
