<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body class="w-full min-h-screen flex flex-col">
		{% block header %}
			{% include "partials/_header.html.twig" %}
		{% endblock %}
		{% if app.user and app.user.isVerified == false %}
			<div class=" container ml-auto mr-auto px-8 py-6 bg-yellow-400 text-white flex justify-between rounded">
				<div class="flex items-center">
					<svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 mr-6" viewbox="0 0 20 20" fill="currentColor">
						<path d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"/>
					</svg>
					<p>Attention ! Votre compte n'est pas activé , 
					<a href='{{ path("resend_verif")}}'>renvoyer le lien d'activation</a>
					</p>
				</div>
				<button class="text-yellow-100 hover:text-white">
					<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewbox="0 0 24 24" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
					</svg>
				</button>
			</div>
		{% endif %}

		{% include("partials/_flash.html.twig") %}

		{% block body %}{% endblock %}

		{% block footer %}
			{% include "partials/_footer.html.twig" %}
		{% endblock %}

	</body>
</html>
