{% extends 'base.html.twig' %}

{% block title %}Administration des articles{% endblock %}

{% block body %}
<main class="mb-48">
<article class="container m-auto">
    <h1 class="text-2xl text-center mt-4 mb-4">Ajouter un article</h1>
    {% include "admin/article/_form.html.twig" %}
</article>
</main>
{% endblock %}
