{% extends './admin/index.html.twig' %}

{% block meta_description %}
	Page d'ajout des articles pour le blog de Julien web&co freelance
{% endblock %}

{% block title %}
	Administration des articles
{% endblock %}

{% block h1 %}
	Ajouter un article
{% endblock %}

{% block content %}
	<section>
		{% include "admin/article/_form.html.twig" %}
	</section>
{% endblock %}